[Updates-ambari-{{ ambari_version }}]
name=ambari-{{ ambari_version }} - Updates
baseurl=http://{{ ansible_default_ipv4.address }}/ambari/centos7/
gpgcheck=1
gpgkey=http://{{ ansible_default_ipv4.address }}/ambari/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
