[Updates-ambari-{{ ambari_version }}]
name=ambari-{{ ambari_version }} - Updates
baseurl=http://{{ ambari_cluster_master }}/ambari/centos7/
gpgcheck=1
gpgkey=http://{{ ambari_cluster_master }}/ambari/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
