[HDP-{{ HDP_version }}]
name=HDP Version - HDP-{{ HDP_version }}
baseurl=http://{{ ansible_default_ipv4.address }}/HDP/centos7/
gpgcheck=1
gpgkey=http://{{ ansible_default_ipv4.address }}/HDP/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1

