#/usr/local/mysql/etc/my.cnf
[client]
port            = {{ mysql_port }}
socket          = {{ mysql_portdir }}/mysql.sock
default-character-set = utf8mb4

[mysql]
prompt="MySQL [\d]> "
no-auto-rehash
